body {
  font-family: "Sora", sans-serif;
  background: #121212;
}

/* Page header */
#page-header {
  padding: 80px;
  text-align: center;
  background: #1E1E1E;
  color: white;
  border-radius: 25px;
}

/* Increase size of header text */
#page-header h1 {
  font-size: 40px;
}

/* Flexbox Container */
.row {
  display: flex;
}

/* Profile Picture */
#profile-img {
  margin: 8px 8px 8px 0px;
  width: 300px;
  height: 300px;
  float: left;
  border-radius: 25px;
}

/* About Me Section */
#profile-info {
  margin: 8px 0px 8px 0px;
  padding: 16px;
  flex: 70%;
  background: #1E1E1E;
  color: white;
  border-radius: 25px;
}

/* Main Content */
#main-content {
  margin: 0px 0px 8px 0px;
  padding: 16px;
  background: #1E1E1E;
  border-radius: 25px;
  color: white;
}

#links {
  margin: 0px 0px 8px 0px;
  padding: 16px;
  background: #1E1E1E;
  border-radius: 25px;
  color: white;
}
